@{ ViewData["Title"] = "Penelitian "; }

<!DOCTYPE html>


<html>
<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="~/css/mapStyle.css" />
    <script src="~/js/mapJavaScript.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style2.css" />
    <!-- Data Table-->
    @*<link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap4.min.css">*@
    <style>


        body {
            font-family: 'Karla', sans-serif;
        }

        .content-wrapper {
            border-radius: 15px;
            box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            border-radius: 10px;
            min-height: 402px !important;
        }

        .radio-checkbox {
            font-size: large;
            letter-spacing: 1px;
        }


        .title-card {
            color: #FFFFFF;
            background-color: #F2AA4C;
            padding: 15px;
            border-radius: 10px 10px 0px 0px;
            min-width: inherit;
        }

        .blue-color {
            background-color: #1d84C6 !important;
        }

        .green-color {
            background-color: #1CB394 !important;
        }

        .btn:active {
            background-color: #ffe7ab;
            transform: translateY(4px);
        }

        .btn:hover {
            background-color: #ffe7ab;
        }

        .td, th {
            vertical-align: middle;
        }
    </style>
</head>
<body>




    <div class="px-3 mt-3">
        <div class="content-wrapper p-3">

            <div class="card-title">
                <a href="IndexTambah" class="btn" style="background-color:burlywood">Data Penelitian</a>
                <a href="IndexTambahPeneliti" class="btn" style="background-color:burlywood">Identitas Peneliti</a>
                <a href="IndexTambahCV" class="btn " style="background-color:burlywood">CV- Pengalaman Penelitian</a>
                <a href="IndexTambahPublikasi" class="btn" style="background-color:burlywood">Publikasi</a>

            </div> &nbsp;&nbsp;

            <hr />
            <h4 class="head-title">Identitas Peneliti</h4>

            <hr />

            <div class="pb-3 mt-3">

                <div>

                    <div class="px-3 pb-2">

                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label for="basic-addon1" class="form-label">NPP</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-pound small" aria-hidden="true"> </i></span>
                                       <input class="npppeneliti"placeholder="NPP " type="text" style="width:710px"/>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <label for="basic-addon1" class="form-label">Nama</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-pound small" aria-hidden="true"> </i></span>
                                        <input class="namapeneliti" placeholder="Nama " type="text" style="width:710px" />

                                    </div>
                                </div>

                                <div class="mb-4">
                                    <label for="basic-addon2" class="form-label">Jabatan Fungsional</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon2"><i class="mdi mdi-pencil small" aria-hidden="true"> </i></span>
                                        <input class="jabatanfungsional" placeholder="Jabatan Fungsional" type="text" style="width:710px" />

                                    </div>
                                </div>
                                <div class="mb-4 ">
                                    <label for="basic-addon1" class="form-label">Pangkat/Golongan</label>

                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon2"><i class="mdi mdi-pencil small" aria-hidden="true"> </i></span>
                                        <select style="width:710px">
                                            <option hidden style="color:lightgrey">Pilih Pangkat/Golongan</option>
                                            @foreach (var item in Model.refjenis)
                                            {
                                                <option value="@item.ID_REF_GOLONGAN"> @item.DESKRIPSI</option>

                                            }
                                        </select>
                                    </div>

                                </div>
                                <div class="mb-4">
                                    <label for="basic-addon1" class="form-label">NPP/NIDN</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-counter small" aria-hidden="true"> </i></span>
                                        <input class="nppnidnPeneliti" placeholder="NPP/NIDN " type="text" style="width:710px" />

                                    </div>
                                </div>
                              
                            </div>

                            <div class="col-md-6">
                                <div class="mb-4">
                                    <label for="basic-addon3" class="form-label">Unit/Fakultas/Jurusan</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-home small" aria-hidden="true"> </i></span>
                                        <input class="unitPeneliti" placeholder="Unit " type="text" style="width:710px" />

                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="basic-addon1" class="form-label">Alamat</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-calendar-range small" aria-hidden="true"> </i></span>
                                        <input type="text" class="form-control" placeholder="Alamat"aria-describedby="basic-addon1" >
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="basic-addon1" class="form-label">No.Telp/Faks</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-counter small" aria-hidden="true"> </i></span>
                                        <input class="telppeneliti" placeholder="No.Telepon/Faks" type="tel" style="width:710px" />

                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label for="basic-addon1" class="form-label">Email</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon1"><i class="mdi mdi-counter small" aria-hidden="true"> </i></span>
                                        <input class="emailpeneliti" placeholder="Email " type="email" style="width:710px" />

                                    </div>
                                </div>
                              
                            </div>
                        </div>

                        <hr />

                
                        <button class="btn btn-outline-primary" onclick="getDataFromTable">Simpan</button>

                        <div class="card-body">
                            <table id="datatable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Aksi</th>
                                        <th>Jenis Event</th>
                                        <th>Judul Event</th>
                                        <th>Tgl Event</th>
                                        <th>Teknologi</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    <tr>
                                        <td>
                                        </td>
                                        <td></td>
                                        <td></td>

                                        <td></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>


    </div>


</body>

</html>