@{ ViewData["Title"] = "Ubah Role "; }


<!DOCTYPE html>

<html>
<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="~/css/mapStyle.css" />
    <script src="~/js/mapJavaScript.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/style2.css" />
    <style>


        body {
            font-family: 'Karla', sans-serif;
        }

        .content-wrapper {
            border-radius: 15px;
            box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            border-radius: 10px;
            min-height: 402px !important;
        }

        .radio-checkbox {
            font-size: large;
            letter-spacing: 1px;
        }


        .title-card {
            color: #FFFFFF;
            background-color: #F2AA4C;
            padding: 15px;
            border-radius: 10px 10px 0px 0px;
            min-width: inherit;
        }

        .blue-color {
            background-color: #1d84C6 !important;
        }

        .green-color {
            background-color: #1CB394 !important;
        }

        .btn:active {
            background-color: #ffe7ab;
            transform: translateY(4px);
        }

        .btn:hover {
            background-color: #ffe7ab;
        }

        .td, th {
            vertical-align: middle;
        }
    </style>
</head>
<body>

    <div class="px-3 mt-3">
        <div class="content-wrapper p-3">

        

            <h4 class="head-title">Ubah Role</h4>

            <hr />

            <div class="pb-3 mt-3">

                <div>

                    <div class="px-3 pb-2">
                        <form method="post" asp-action="UbahRolePengelolaan" asp-controller="Pengelolaan">

                            @Html.AntiForgeryToken()


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-4">
                                        <label for="basic-addon1" class="form-label">Nama</label>
                                        <div class="input-group">

                                            <input type="text" autocomplete="off" class="form-control" name="tgl" id="txttgl" value="@Model.data.NAMA" disabled/>

                                        </div>
                                    </div>

                                    <div class="mb-4">
                                        <label for="basic-addon1" class="form-label">Role</label>
                                        <div class="input-group">

                                            <select style="width: 750px; height: 33px;">
                                                @foreach (var item in Model.data2)
                                                {
                                                    <option value="@item.DESKRIPSI"> @item.DESKRIPSI</option>

                                                }
                                            </select>

                                        </div>
                                    </div>

                                    <hr />
                                    <div class="row">
                                        <div class="col-3">
                                            <button asp-action="UbahRolePengelolaan" type="submit" class="btn btn-success">Simpan</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>